
<ion-content class="ivan"> 

  <ion-header>
    
      <ion-toolbar color="black">

        <img src="../../assets/icon/Logo_DuocUC.svg.png" width="400px" class="logo">
  
    </ion-toolbar>
  
    
  </ion-header>
  
  <div class="contenedor">
    
    <ion-input class="my-custom-input" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar usuario" style="--color: black; --border-width: 2px;"></ion-input>
    <br />

  
  
  <ion-button color="tertiary" expand="full" (click)="irASesion()">recuperar contraseña</ion-button>

</div>
 
</ion-content>